@font-face {
    font-family: 'good_timingbold';
    src: url('../fonts/good_timing_bd-webfont.woff2') format('woff2'),
         url('../fonts/good_timing_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #9966cc;
    --accent-color: #f1f2f3;
    --success-color: #33ca7f;
    --error-color: #ff0000;
    --main-content-color: #ededed;
    --logo-background-color: #33333399;
    --element-padding: 1rem;
    --button-padding: 0.5em;
    --form-margin: 0.5rem;
    --title-font-size: 1.4rem;
    --label-font-size: 0.6rem;
    --header-font: 'good_timingbold';
    --main-content-font: 'PT Sans';
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.container .header {
    flex: 1;
    background: #9966cc;
    font-family: var(--header-font);
    position: relative;
}

.header .logo {
    font-size: var(--title-font-size);
    background: var(--logo-background-color);
    text-align: center;
    position: relative;
    padding: var(--element-padding);
    top: calc(240px - 99px);
}

.logo h1 {
    display: inline;
    color: var(--accent-color);
}

.logo svg {
    position: relative;
    top: 10px;
}

.logo path {
    fill: var(--accent-color);
    stroke: var(--accent-color);
}

.container .main-content {
    flex: 2;
    font-family: var(--main-content-font);
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-content-color);
}

.main-content .description {
    position: relative;
    flex: 1;
    padding: calc(var(--element-padding) * 2);
}

.description .description-block {
    position: absolute;
    bottom: 30px;
    width: 75ch;
    font-weight: 900;
}

.description .description-block > p:last-of-type {
    margin-top: 20px;
}

.main-content .form-section {
    flex: 3;
}

.main-content .form-body {
    padding: calc(var(--element-padding) * 1.5);
    background-color: var(--accent-color);
    box-shadow: 0px 5px 10px #33333326;
} 

.main-content .form-row {
    display: flex;
    gap: 3rem;
    margin-bottom: var(--form-margin);
}

.main-content .form-control *{
    display: block;
}

.main-content .form-control label {
    font-size: var(--label-font-size);
    margin-bottom: 3px;
}

.main-content .form-control input {
    padding: 4px;
    font-family: var(--main-content-font);
    width: 12rem;
    border: 1px solid #33333326;
    border-radius: 5px;
}

.main-content .form-control input:valid {
    border: 2px solid var(--success-color);
}


.main-content .form-button {
    padding: calc(var(--element-padding) * 1.5);
}

.main-content .form-button button {
    width: 10rem;
    padding: var(--button-padding);
    background-color: #9966cc;
    font-family: var(--main-content-font);
    color: var(--accent-color);
    font-weight: 900;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}