@font-face {
    font-family: 'good_timingbold';
    src: url('../fonts/good_timing_bd-webfont.woff2') format('woff2'),
         url('../fonts/good_timing_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #9966cc;
    --accent-color: #f1f2f3;
    --button-color: #33ca7f;
    --logo-background-color: #33333399;
    --element-padding: 0.8rem;
    --button-padding: 1em;
    --title-font-size: 1.4rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.container .header {
    flex: 1;
    background: #9966cc;
    position: relative;
}

.header .logo {
    font-size: var(--title-font-size);
    background: var(--logo-background-color);
    text-align: center;
    position: relative;
    top: 100px
}

.container .main-content {
    flex: 2;
}