@font-face {
    font-family: 'good_timingbold';
    src: url('../fonts/good_timing_bd-webfont.woff2') format('woff2'),
         url('../fonts/good_timing_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #9966cc;
    --accent-color: #f1f2f3;
    --button-color: #33ca7f;
    --logo-background-color: #33333399;
    --element-padding: 1rem;
    --button-padding: 1em;
    --title-font-size: 1.4rem;
    --header-font: 'good_timingbold';
    --main-content-font: 'PT Sans';
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.container .header {
    flex: 1;
    background: #9966cc;
    font-family: var(--header-font);
    position: relative;
}

.header .logo {
    font-size: var(--title-font-size);
    background: var(--logo-background-color);
    text-align: center;
    position: relative;
    padding: var(--element-padding);
    top: calc(30vh - 97px);
}

.logo h1 {
    display: inline;
    color: var(--accent-color);
}

.logo svg {
    position: relative;
    top: 10px;
}

.logo path {
    fill: var(--accent-color);
    stroke: var(--accent-color);
}

.container .main-content {
    flex: 2;
    font-family: var(--main-content-font);
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content .description {
    position: relative;
    height: 30vh;
    padding: calc(var(--element-padding) * 2);
}

.description .description-block {
    position: absolute;
    bottom: 65px;
    width: 75ch;
